
.basket_main{
  width: 900px;
  margin:0 auto;  
}
.basket_wrapper{
    display:flex;
    justify-content: space-around;
    align-items: center;  
}
.basket_img{
    border-radius: 15%;
}
.basket_title{
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.03em; 
    padding-top: 80px;
}
.title_count{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}
.basket_count{
    display: flex;
    width: 140px;
    height: 40px;
    justify-content: space-around;
    border:1px solid #000000;
    border-radius: 12px;
    align-items:center;
}
.basket_count p{
    font-size: 25px;
}
